body {
    background-color: beige;
    color: #000080;
    display: flex;
    flex-direction: column;
    height: 50vh;
    margin-left: 20%;
    margin-right: 20%;
}

h1 {
    color: black;
    text-align: center;
}

p {
    text-align: justify;
}

#getVal {
    text-align: center;
    margin-top: 10px; 
}

button {
    padding: 20px;      /* Style the button */
    background-color: #780a0a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}